.section-sidebar {
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    height: 100vh;
    min-height: 1800;
    background: var(--background-color);
}
.section-sidebar .ic {
    font-size: 48px;
    max-width: 58px;
    color: var(--primary-color);

    position: relative;
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
}

.section-sidebar .ic:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
}

